
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat&family=Roboto&family=Tilt+Neon&display=swap');

* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    outline: none;
}

:root {
    --bg-primary: #0be328ff;
    --bg-secondary: #60eb73ff;
    --bg-info: #95a3a4ff;
    --bg-success: #187d25ff;
    --bg-dark: #181f1cff;
    --bg-warning: #3ab04aff;
    --txt-primary: #000;

    /* Colour Palettes */
    --screamin-green: #60eb73ff;
    --office-green: #187d25ff;
    --sgbus-green: #0be328ff;
    --pigment-green: #3ab04aff;
    --cadet-gray: #;
    --eerie-black: #181f1cff;
}

/*  */
body {
    font-family: 'roboto', 'San-serif';
    background-color: #ffffffee;
}

a {
    text-decoration: none;
}
.img {
    max-width: 100%;
    cursor: pointer;
}
img {
    cursor: pointer;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

li  {
    list-style: none;
}

.text {
    color: var(--bg-primary);
}

.text-1 {
    color: var(--bg-warning);
}

.text-center {
    text-align: center;
}

.text-font {
    font-family: 'Fredoka', 'san-serif';
}

.text-h2 {
    font-size: 2.2em;
}

.text-h3 {
    font-size: 1.8em;
}

.text-h4 {
    font-size: 1.4em;
}

main {
    margin: 0 5vw;
}

.p-1 {
    padding: 10px 0;
}

.btn {
    cursor: pointer;
}
/*  */

.main-header {
    font-family: 'Fredoka', 'san-serif';
    justify-content: space-between;
    align-items: center;
    padding: 18px 35px;
    border-bottom: 1px solid #292828;
}

.logo span{
    color: var(--bg-primary);
}

.nav-links li{
    margin: 0 10px;
}

.nav-menu {
    display: none;
}

.hero {
    height: 90vh;
    justify-content: space-between;
    align-items: center;
}

.hero .hero-text {
    width: 50%;
}

.hero-text h2{
    font-family: 'Montserrat', 'san-serif';
    font-size: 2.3em;
}

.hero-btn {
    max-width: 55%;
    justify-content: space-between;
    /* align-items: center; */
}

.subcribe {
    padding: 12px 15px;
    background-color: #0f0e0e;
    color: #fff;
    border: none;
    border-radius: 80px;
    font-size: 15px;
}

.addbtn {
    border: none;
    background-color: transparent;
    border-bottom: .5px solid #000;
    font-size: 15px;
    padding: 12px 15px;
}

.subcribe:hover, .addbtn:hover {
    transform: scale(1.09);
}

.social-icons ul{
    justify-content: space-between;
}

.hero-image {
    width: 50%;
    justify-content: flex-end;
} 

.hero-image img {
    width: 400px;
    height: 350px;
    /* border-radius: 50%; */
}

.community, .social-icons  {
    margin-top: 20px;
}

.social-icons ul {
    /* justify-content: flex-start; */
}

.social-icons li a {
    padding: 8px;
    border-radius: 50%;
    /* color: var(--sgbus-green); */
}

.social-icons li a:last-child(2) {
    background-color: #ffeff8;
}
.social-icons li a:hover {
    background-color: var(--bg-dark);
    color: var(--sgbus-green);
    transform: scale(1.1);
    transition-duration: .5s;
}
/* About Section */
.about {
    margin: 100px 0;
}

.about h2 {
    font-size: 2.2em;
    text-align: center; 
    font-family: 'Tilt neon', 'san-serif';
}

.about-wrapper {
    margin: 0 5vw;
    justify-content: space-between;
    align-items: center;
}

.about-wrapper img {
    width: 400px;
    height: 450px;
    border-radius: 5px 30px;
}

.about-wrapper .about-desc {
    width: 50%;
}

/* Gallery Section */
.gallery {
    margin: 100px 0;
}

.gallery h2 {
    font-size: 2.2em;
    font-family: 'Tilt neon';
}

.card-wrapper {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
}

.gallery .card {
    width: 400px;
    width: 100%;
    height: 400px;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 0px 1px #f79696;
}

.card img{
    width: 100%;
    height: 300px;
    cursor: pointer;
    background-position: cover;
    object-fit: fill;
    aspect-ratio: 16/9;
}

.card img:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.card-text {
    padding: 10px 4px;
    justify-content: center;
    align-items: center;
}

.card-text button {
    margin: 0 3px;
    padding: 8px 2px;
    border: .5px solid #000;
    border-radius: 6px;
}

.card-text button:hover {
   transform: scale(1.02);
}

/* Review Section */
.testimionials{
    margin: 100px 0;
}

.reviews {
    margin: 25px 0;
    padding: 0 15px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 15px;
}

.review-card {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.review-card img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    align-self: flex-start;
}

/* Contact Section */
#contact {
    background-color: rgb(136, 247, 197);
}

.contact {
    /* background-color: rgb(136, 247, 197); */
}

.contact img {
    height: 460px;
    max-width: 350px;
}

.contact-group {
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    /* gap: 50px; */
}

form {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 35px;
}

.input-group {
    flex-direction: column;
}

.input-group label {
    font-size: 18px;
}

.input-group input {
    padding:  10px;
    margin: 8px 0;
    border: .5px solid #000;
    border-radius: 5px;
}

.input-group textarea {
    padding:  10px;
    border: .5px solid #000;
    border-radius: 5px;
    resize: none;
}

form input[type="submit"] {
    margin: 5px 0;
    padding:  10px;
    width: 100px;
    border: .5px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: .9em
}

form input[type="submit"]:hover {
    transform: scale(1.02);
    transition: all 2s #000;
}

/* Footer Section */
footer {
    padding: 0 5vw;
    margin-top: 100px;
    background-color: #070707;
    color: #fff;
}

.main-footer {
    padding: 0 20px;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    align-items: center;
}

.main-footer h3 {
    color: #f1eaea;
    font-size: 1.5em;
}

.main-footer hr {
    margin-bottom: 10px;
}

.sub-footer {
    margin-top: 80px;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 10px 0;
}

.footer-link ul li, .footer-extra ul li, .footer-time ul li {
    margin: 5px 0;
    color: #fff;
}

.footer-link ul a {
    color: #fff;
}

.footer-link ul a:hover {
    color: var(--bg-primary);
}

/* Mobile Screen */
@media  (max-width: 768px) {
    
    main {
        margin: 0  2.2vh;
    }

    .main-header {
        padding: 15px ;
    }
    .main-header .nav-links {
        display: none;
    }

    .nav-menu {
        display: flex;
        cursor: pointer;
    }

    .nav-menu .exit {
        display: none;
    }


    .hero {
        flex-direction: column;
    }

    .hero-btn {
        max-width: 100%;
    }
    .hero .hero-text, .hero-image {
        margin-top: 25px;
        width: 100%;
    }

    .hero-image img {
        width: 100%;
        height: 150px;
    }

    .about-wrapper {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .about-wrapper .about-desc {
        width: 100%;
    }

    .about-wrapper .about-img {
        width: 100%;
    }
   
    .card-wrapper {     
        justify-items: center;  
        grid-template-columns: repeat(1, 1fr);
    }

    .reviews {
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-group {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .main-footer {
        padding: 0;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
    }

    .logo-footer {
        grid-column: 1/3;
    }
}
    